---
const today = new Date();
---

<footer class="relative z-10 mt-12 px-4 pb-8">
	<div class="glass max-w-6xl mx-auto rounded-2xl px-6 py-4 text-center">
		<p class="text-white/60 text-sm">
			&copy; {today.getFullYear()} x-db. All rights reserved.
		</p>
	</div>
</footer>
